@import 'icon-font';
@import 'Navbar';
@import 'loader';
@import 'UserAside';

body {
  background-color: #e6ecf0;
}
.popover-body {
  padding: 0;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background: url('./assets/images/signed-out-home.jpg') center/cover no-repeat;
  text-align: center;
  padding: 1rem;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

#posts .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
  position: relative;
}

#posts .list-group-item .post-area {
  margin: 0 35px 0 10px;
}
#posts .list-group-item .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
}

#posts:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin-top: 5px;
  object-fit: cover;
}

.profile-settings {
  list-style: none;
  font-size: 16px;
  color: #66757f;
  margin: 0;
  padding: 0;
}
.profile-settings li a{
  padding: .3rem .75rem;
  transition: all .15s ease-out;
  text-decoration: none;
  color: inherit;
  display: block;
}
.profile-settings li a:hover {
  color: #fff;
  background: #50b5d6;
}
.profile-settings i {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-settings span {
  vertical-align: middle;
}

.profile-settings-popover {
  min-width: 192px;
}