.upload-image-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .form-group {
    width: 100%;
  }
}
.upload-image-container {
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 2px dashed #3b93d9;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  & input {
    visibility: hidden;
    max-width: 0;
  }
  & span {
    margin-top: 35px;
    padding: 0 10px;
    display: block;
  }
  & img {
    display: none;
    height: 100%;
  }
  &.preview-photo {
    height: 240px;
    span { display: none; }
    img { display: inline-block; }
  }
}