.card {
  .lead {
    font-size: 1rem;
  }
  .card-title {
    font-weight: 700;
  }
  .card-body {
    color: #000;
  }
  .card-body:hover {
    color: inherit;
    text-decoration: none;
  }
  &-img-left {
    object-fit: cover;
    width: 82px;
    height: 82px;
    margin: 10px;
  }
}
.user-posts-icon {
  font-size: 24px;
  position: relative;
  margin: 4px 15px 0 0;
  display: block;
  &__count {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 18px;
    height: 18px;
    text-align: center;
  }
  &:hover {
    text-decoration: none;
  }
}

.edit-profile-img {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 108px;
  top: 9px;
}