@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?15x9n6');
  src:  url('assets/fonts/icomoon.eot?15x9n6#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?15x9n6') format('truetype'),
    url('assets/fonts/icomoon.woff?15x9n6') format('woff'),
    url('assets/fonts/icomoon.svg?15x9n6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-arrow-back:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-image:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-warning:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-cog:before {
  content: "\e909";
}
.icon-power:before {
  content: "\e90d";
}
.icon-at:before {
  content: "\e90e";
}
.icon-arrow-back-outline:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e910";
}
.icon-message:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-heart-outline:before {
  content: "\e913";
}
.icon-user-outline:before {
  content: "\e914";
}
.icon-cog-outline:before {
  content: "\e915";
}
.icon-camera-outline:before {
  content: "\e90a";
}
.icon-zoom-outline:before {
  content: "\e90b";
}
.icon-zoom-out-outline:before {
  content: "\e90c";
}
.icon-zoom-in-outline:before {
  content: "\e917";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-bell:before {
  content: "\e919";
}
.icon-messages:before {
  content: "\e916";
}



body {
  background-color: #e6ecf0;
}
.popover-body {
  padding: 0;
}
/* Nav */

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url("./assets/images/nav-bg.png");
  background-size: 100% 100%;
}

/*  */
.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background: url('./assets/images/signed-out-home.jpg') center/cover no-repeat;
  text-align: center;
  padding: 1rem;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
  position: relative;
}

#messages .list-group-item .message-area {
  margin: 0 35px 0 10px;
}
#messages .list-group-item .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin-top: 5px;
  object-fit: cover;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form .btn {
  margin: 20px auto 0;
  width: 30%;
}

.card .lead {
  font-size: 1rem;
}
.card .card-title {
  font-weight: 700;
}

.card-img-left {
  object-fit: cover;
  width: 82px;
  height: 82px;
  margin: 10px;
}

.profile-settings {
  list-style: none;
  font-size: 16px;
  color: #66757f;
  margin: 0;
  padding: 0;
}
.profile-settings li a{
  padding: .3rem .75rem;
  transition: all .15s ease-out;
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
}
.profile-settings li a:hover {
  color: #fff;
  background: #50b5d6;
}
.profile-settings i {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-settings span {
  vertical-align: middle;
}