@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?15x9n6');
  src:  url('assets/fonts/icomoon.eot?15x9n6#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?15x9n6') format('truetype'),
    url('assets/fonts/icomoon.woff?15x9n6') format('woff'),
    url('assets/fonts/icomoon.svg?15x9n6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-arrow-back:before {
  content: "\e901";
}

.icon-location:before {
  content: "\e902";
}

.icon-image:before {
  content: "\e903";
}

.icon-star:before {
  content: "\e904";
}

.icon-delete:before {
  content: "\e905";
}

.icon-heart:before {
  content: "\e906";
}

.icon-warning:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

.icon-cog:before {
  content: "\e909";
}

.icon-power:before {
  content: "\e90d";
}

.icon-at:before {
  content: "\e90e";
}

.icon-arrow-back-outline:before {
  content: "\e90f";
}

.icon-trash:before {
  content: "\e910";
}

.icon-message:before {
  content: "\e911";
}

.icon-mail:before {
  content: "\e912";
}

.icon-heart-outline:before {
  content: "\e913";
}

.icon-user-outline:before {
  content: "\e914";
}

.icon-cog-outline:before {
  content: "\e915";
}

.icon-camera-outline:before {
  content: "\e90a";
}

.icon-zoom-outline:before {
  content: "\e90b";
}

.icon-zoom-out-outline:before {
  content: "\e90c";
}

.icon-zoom-in-outline:before {
  content: "\e917";
}

.icon-pencil:before {
  content: "\e918";
}

.icon-bell:before {
  content: "\e919";
}

.icon-messages:before {
  content: "\e916";
}

.navbar {
  margin-bottom: 1rem;
  background-image: url("./assets/images/nav-bg.png");
  background-size: 100% 100%;
}

.navbar a {
    font-weight: bold;
    color: white;
  }

.navbar a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

.navbar-right li {
  margin: 0 0.5rem;
}

.navbar-left a {
    font-weight: inherit;
    font-size: 16px;
    padding: 10px 20px;
    color: #c3f9ea;
    text-shadow: 0px 2px 16px rgba(150, 150, 150, 1);
    position: relative;
    transition: all .15s ease-out;
  }

.navbar-left .underline {
    height: 3px;
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    transition: all .15s ease-out;
  }

.navbar-left a:hover {
    text-decoration: none;
  }

.navbar-left a:hover .underline {
    background-color: #fff;
  }

.navbar-left i {
    font-size: 21px;
    vertical-align: middle;
  }

.navbar-left span {
    vertical-align: middle;
  }

.navbar-left li.active a {
    color: #fff;
    pointer-events: none;
  }

.navbar-left li.active .underline{
    background-color: #fff;
  }

.lds-ring {
  display: inline-block;
  position: relative;
  left: calc(50% - 42px);
  top: 100px;
  width: 84px;
  height: 84px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 71px;
    height: 71px;
    margin: 6px;
    border: 6px solid #50b5d6;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #50b5d6 transparent transparent transparent;
  }

.lds-ring div:nth-child(1) {
      -webkit-animation-delay: -0.45s;
              animation-delay: -0.45s;
    }

.lds-ring div:nth-child(2) {
      -webkit-animation-delay: -0.3s;
              animation-delay: -0.3s;
    }

.lds-ring div:nth-child(3) {
      -webkit-animation-delay: -0.15s;
              animation-delay: -0.15s;
    }

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.card .lead {
    font-size: 1rem;
  }

.card .card-title {
    font-weight: 700;
  }

.card .card-body {
    color: #000;
  }

.card .card-body:hover {
    color: inherit;
    text-decoration: none;
  }

.card-img-left {
    -o-object-fit: cover;
       object-fit: cover;
    width: 82px;
    height: 82px;
    margin: 10px;
  }

.user-posts-icon {
  font-size: 24px;
  position: relative;
  margin: 10px 15px 0 0;
  display: block;
}

.user-posts-icon__count {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 18px;
    height: 18px;
    text-align: center;
  }

.user-posts-icon:hover {
    text-decoration: none;
  }

.edit-profile-img {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  position: absolute;
  -webkit-transform: translate(-18px, 6px);
          transform: translate(-18px, 6px);
}

.upload-image-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-image-form .form-group {
    width: 100%;
  }

.upload-image-container {
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 2px dashed #3b93d9;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.upload-image-container input {
    visibility: hidden;
    max-width: 0;
  }

.upload-image-container span {
    margin-top: 35px;
    padding: 0 10px;
    display: block;
  }

.upload-image-container img {
    display: none;
    height: 100%;
  }

.upload-image-container.preview-photo {
    height: 240px;
  }

.upload-image-container.preview-photo span { display: none; }

.upload-image-container.preview-photo img { display: inline-block; }

body {
  background-color: #e6ecf0;
}

.popover-body {
  padding: 0;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background: url('./assets/images/signed-out-home.jpg') center/cover no-repeat;
  text-align: center;
  padding: 1rem;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

#posts .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
  position: relative;
}

#posts .list-group-item .post-area {
  margin: 0 35px 0 10px;
}

#posts .list-group-item .btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px;
}

#posts:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin-top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-settings {
  list-style: none;
  font-size: 16px;
  color: #66757f;
  margin: 0;
  padding: 0;
}

.profile-settings li a{
  padding: .3rem .75rem;
  transition: all .15s ease-out;
  text-decoration: none;
  color: inherit;
  display: block;
}

.profile-settings li a:hover {
  color: #fff;
  background: #50b5d6;
}

.profile-settings i {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-settings span {
  vertical-align: middle;
}

.profile-settings-popover {
  min-width: 192px;
}